[user]
name = Keegan Carruthers-Smith
email = keegan.csmith@gmail.com

[alias]
l = log --color --graph --pretty=format:'%C(yellow)%h%Creset %s%C(yellow)%d\n%C(bold blue)(%cr by %an)%Creset\n' --abbrev-commit --
st = status
b = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(align:20,left)%(color:yellow)%(refname:short)%(color:reset)%(end) %(objectname:short)%(color:reset) %(color:blue)%(upstream:track)%(color:reset) %(contents:subject) (%(color:green)%(committerdate:relative)%(color:reset))'
br = branch -vv
feature = !sh -c 'git checkout --no-track -b k/`date "+%Y%m%d"`-$0 origin/main'
set-upstream = !sh -c 'git branch --set-upstream-to=origin/master `git rev-parse --abbrev-ref HEAD`'
cherry-pick-branch = !sh -c 'git cherry-pick `git merge-base HEAD $0`..$0'
gc-all = -c gc.reflogExpire=0 -c gc.reflogExpireUnreachable=0 -c gc.rerereresolved=0 -c gc.rerereunresolved=0 -c gc.pruneExpire=now gc
me = log --author=keegan
checkout-branch = !sh -c 'git fetch origin $0 && git checkout -b $0 FETCH_HEAD'
pr = !sh -c 'git fetch -fu origin refs/pull/$0/head:pr/$0 && git checkout pr/$0'

[color]
ui = auto

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold

[color "status"]
added = yellow
changed = green
untracked = cyan

[core]
excludesfile = ~/.gitignore_global

[diff]
compactionHeuristic = true

[http]
  cookiefile = ~/.gitcookies

[github]
  user = keegancsmith

[ghq]
  root = /Users/keegan/src
  root = /Users/keegan/go/src
[merge]
  conflictStyle = diff3
[pull]
  rebase = true
[url "git@github.com:"]
  insteadOf = https://github.com/
