[user]
name = Keegan Carruthers-Smith
email = keegan.csmith@gmail.com

[alias]
l = log --color --graph --pretty=format:'%C(yellow)%h%Creset %s%C(yellow)%d\n%C(bold blue)(%cr by %an)%Creset\n' --abbrev-commit --
st = status

[color]
ui = auto
