[user]
name = Keegan Carruthers-Smith
email = keegan.csmith@gmail.com

[alias]
l = log --color --graph --pretty=format:'%C(yellow)%h%Creset %s%C(yellow)%d\n%C(bold blue)(%cr by %an)%Creset\n' --abbrev-commit --
st = status
b = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(align:20,left)%(color:yellow)%(refname:short)%(color:reset)%(end) %(objectname:short)%(color:reset) %(color:blue)%(upstream:track)%(color:reset) %(contents:subject) (%(color:green)%(committerdate:relative)%(color:reset))'
br = branch -vv
feature = !sh -c 'git checkout --no-track -b $0 origin/master'
set-upstream = !sh -c 'git branch --set-upstream-to=origin/master `git rev-parse --abbrev-ref HEAD`'
cherry-pick-branch = !sh -c 'git cherry-pick `git merge-base HEAD $0`..$0'
	pr = !github-push-pr

[color]
ui = auto

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold

[color "status"]
added = yellow
changed = green
untracked = cyan

[core]
excludesfile = ~/.gitignore_global

[diff]
compactionHeuristic = true

[http]
	cookiefile = /Users/keegan/.gitcookies

[github]
	user = keegancsmith

[ghq]
	root = /Users/keegan/src
	root = /Users/keegan/go/src
