[package]
disabled = true

[dotnet]
disabled = true

[golang]
disabled = true

[java]
disabled = true

[nodejs]
disabled = true

[python]
disabled = true

[ruby]
disabled = true

[rust]
disabled = true

[aws]
disabled = true

[gcloud]
disabled = true

[buf]
disabled = true

[nix_shell]
format = '[❄️ $name]($style) '

[custom.jj]
command = "prompt"
format = "$output"
ignore_timeout = true
shell = ["starship-jj", "--ignore-working-copy", "starship"]
use_stdin = false
when = true

[custom.cloud-display-name]
command = "awk '/displayName:/ { print $2 }' config.yaml"
detect_files = ['config.yaml']
when = '[ -n "${PWD##*/sourcegraph/cloud/*}" ]'
